<html>
    <head>
        <title>在线oj</title>
    </head>
    <body>
        <!--描述-->
        <div>{{id}}.{{name}} {{star}}</div>
        <div><pre>{{desc}}</pre></div>
            <!--代码的编辑框-->
            <div>
                <form action="/question/{{id}}" method="POST">
                    <textarea name="code" rows=50 cols=150>{{header}}</textarea>
                    <br>
                    <!--<textarea name="stdin" rows=10 cols=150></textarea>-->
                    <input type="submit" formenctype="appliaction/json" value="Submit">
                </form>
            </div>
    </body>
</html>

